<div class="card" *ngIf="card">
    <button class="delete-btn" (click)="removeCard( card.id )">&times;</button>
    <div class="card-image" [style.backgroundImage]="'url(' + card.img + ')'"></div>
    <div><span class="badge {{typeMAP.get( card.type ).classCss}}">{{ typeMAP.get( card.type ).label }}</span></div>
   
    <div>
        <div class="card-title">
            <h4>{{ card.title }}</h4>
        </div>
        <div class="card-body">
            <p>{{ card.description | truncate: [70, '...'] }}</p>
        </div>
    </div>
</div>
